body{
    background-color: burlywood;
}
h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: grey;
    font-weight: bold;
    border: outset black 2px;
}
.nameOut{
    color:lightseagreen;
    font-weight: light;
    font-style: italic;
}
#inputs{
    border: inset silver 2px;
    background-color: aqua;
    padding: 15px 0px 15px 20px;
}
#aboutOut{
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}